*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}
iframe {
    border:0;
}

:root {
    --basic-red: #ee3643;
    --basic-green: #63a63e;
    --basic-grey: #3d546f;
    --basic-greylight: #c5c5c5;
    --basic-bluedark: #293449;
    --basic-background: #f1f5f7;
    --basic-text: #32425c;
    --basic-black: #000000;
    --basic-white: #ffffff;
    --widht: #ffffff;
    --special-yellow: #ffbf47;
    --special-blue: #3bbce3;
    --special-lilac: #dc91d8;
    --special-greenlight: #8ed78f;
    --special-yellowlight: #ffd180;
    --special-success: #5fbb2d;
    --special-warning: #ffbf47;
    --special-error: #ba2732;
    --special-footer-text: #F3F7F9;
    --special-icon-socialnet:#212A3A;
    --special-list-nav-background: #1D2739;
    --special-dark-background: #161D29;
    --special-old-coast: #A9A9A9;
    --special-background-popular:#F9F5F0;
    --special-background-grey:#F2F6F8;
    --special-background-orange:#FFC047;
    --special-background-beige: #F7F3EC;
    --special-background-darkgreen: #518534;
    --special-slider-header: rgba(0, 0, 0, 0.25);
}

/*Global*/

body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: "Cuprum", sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-black);
    text-transform: none;
    background-color: var(--basic-white);
}

a {
    text-decoration: none;
  }
  
img {
    max-width: 100%;
    height: auto;
}

.hidden {
    display: none;
}

/*Header*/

.site-header {
    background-color: var(--basic-background);
    margin: 0 auto;
    overflow: visible;
    padding-bottom: 60px;
}

.header-top {
    margin: 0 auto;
    width: 100%;
    background-color: var(--basic-bluedark);
    overflow: visible;
}

.header-top-content {
    width: 940px;
    display:flex;
    flex-direction: row;
    justify-content: end;
    margin: 0 auto;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-white);
    overflow: visible;
}

.search-container {
    display:flex;
    flex-direction: row;
    justify-content: end;
}

.header-top-content a {
    color: var(--basic-white);
}

.logo-field {
    position: relative;
    display: block;
    width: 220px;
    height: 42px;
    background: var(--basic-red);
    overflow: visible;
    text-align: center;
    padding-top: 13px;
}

.logo-field:active {
    background-color: var(--special-error); 
}

.logo-field:after {
    content: "";
    display: block;
    height: 5px;
    background: #b52932;
    width: 100%;
    position: absolute;
    bottom: -5px;
    left: 0;
}

.search-form {
    position: relative;
}

.icon-search {
    position: absolute;
    z-index: 2;
    color: var(--basic-white);
    opacity: 0.3;
    left: 17px;
    top: 12px;
}

.search-form:hover .icon-search {
    opacity: 1;
}

.search-field {
    width: 271px;
    min-height: 42px;
    padding-left: 42px;
    border:0;
    color: var(--basic-black);
    background-color: var(--basic-bluedark);
}

.search-field:focus {
    border:0;
    color: var(--basic-black);
    background-color: var(--basic-white);
}

.search-field:focus+.icon-search {
    color: var(--basic-red);
    opacity: 1;
}

.search-form input::-webkit-input-placeholder {
    color: var(--basic-white);
}

.search-container svg {
    opacity: .3;
}

.search-container svg:hover {
    opacity: 1;
}

.search-container a:hover svg {
    opacity: 1;
}

.bookmark, .basket {
    width: 150px;
    min-height: 42px;
    padding:9px 20px 0px 24px;
}

.bookmark:active, .basket:active {
    background-color: var(--special-dark-background);
    opacity: .3;
}

.bookmark a:after {
    content: "0";
    font: 17px/18px Cuprum,sans-serif;
    color: #fff;
    padding-left: 3px;
}
    
.order {
    width: 150px;
    min-height: 42px;
    background-color: var(--basic-green);
    text-align: center;
    padding-top: 9px;
}

.order:hover {
    background-color: var(--special-success);
}

.order:active {
    color: rgba(255, 255, 255, 0.5);
    background-color: var(--basic-green);
}

.header-address {
    margin: 0 auto;
    width: 940px;
    min-height: 158px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 54.5px;
    padding-bottom: 40px;
}

.header-address-left {
    width: 197px;
    flex-basis: 197px;
    margin-left: 30px;
    color: var(--basic-red);
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
}

.header-address-center a {
    color: var(--basic-red);
    font-size: 21px;
    line-height: 30px;
}

.header-address .address-text {
    margin-top: 9px;
    color: var(--basic-text);
    font-size: 14px;
    line-height: 24px;
}

/*.header-phone {
    background-image: url(../img/icon-phone.svg);
    background-repeat: no-repeat;
    background-position: left center;
    border: 3px solid #FFFFFF;
}*/

.header-address-center {
    min-width: 270px;
    text-align: center;
    margin-left: 93px;
    margin-right: 60px;
}

.header-address-center a {
    width: 270px;
    padding: 7px 45px 8px 40px;
    border: 3px solid #FFFFFF;
    margin-bottom: 3px;
}
/*
.user-name,
.user-interface a {
    font-size: 21px;
    line-height: 21px;
    padding: 12px 24px;
    margin-left: 10px;
    background-color: var(--basic-white);
    color: var(--basic-black);
}*/

.user-interface-catalog {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.user-interface-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 299px;
    padding: 12px 15px;
    background-color: var(--basic-white);
    margin-bottom: 7px;
}

.user-interface-container a {
    font-size: 21px;
    line-height: 21px;
    color: var(--basic-black);
    display: block;
}

.user-interface-container svg {
    color: var(--basic-greylight)
}

.user-interface-link {
    display: flex;
    justify-content: center;
}

.user-interface-link a {
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-text);
}

.user-interface-link a:first-child {
    margin-right: 10px;
}

.user-interface-link a:hover {
    color: var(--basic-red);
}

.user-interface-link a:active {
    color: var(--basic-greylight);
}

.user-name {
    width: 232px;
}

.user-name svg {
    margin-right: 15px;
}

.user-interface a:last-child {
    margin-left: 10px; 
    width: 150px;
}

.user-interface a {
    font-size: 21px;
    line-height: 21px;
    color: var(--basic-black);
}

.user-interface svg {
    color:var(--basic-greylight);
}

.user-interface a:hover {
    color: var(--basic-red);
}

a.user-name:hover {
    color: var(--basic-black);
}

.user-interface a:hover svg {
    color: var(--basic-grey);
}

.user-interface a:active {
    color: var(--basic-greylight);
}

.user-interface a:active svg {
    color: var(--basic-greylight);
}

.site-navigation {
    margin: 0 auto;
    width: 940px;
    height: 60px;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-white);
    background-color: var(--basic-text);
    box-shadow: inset 0px -5px 0px #293449;
}

.site-navigation a {
    color: var(--basic-white);
    }

.site-navigation li {
    height: 60px;
    list-style-type: none; 
    display: inline-block;
    padding-top: 16px;
    padding-left: 24px;
    padding-right: 24px;
}

.site-navigation li:hover {
    background-color: var(--basic-bluedark);
}

.site-navigation li:active {
    color: rgba(255, 255, 255, 0.5);
    background-color: var(--special-list-nav-background);
    box-shadow: inset 0px -5px 0px #293449;
}

.site-navigation li:active a {
    color: rgba(255, 255, 255, 0.5);
}

/*Main*/
.all-catalog {
    display: grid;
    gap: 20px;
    grid-template-columns: 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px;
    grid-template-rows: 123px 123px 123px;
    width: 940px;
    margin: 0 auto;
    padding-top: 59px;
    padding-bottom: 59px;
}

.box {
    width: 300px;
    padding-top: 20px;
    padding-bottom: 21px;
}

.box::after {
    background-image: url(../img/new-product.png);
    background-repeat: no-repeat;
    background-position: right top;   
    z-index: 2;
}

.box h3 {
    margin-bottom: 16px;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: var(--basic-white);
}

.box a {
    display: inline-block;
    min-width: 135px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    color: var(--basic-white);
    background-color: rgba(255, 255, 255, 0.3);
    border: 0px;
}

.box a:hover {
    background-color: rgba(197, 197, 197, 0.3);
}

.box a:active {
    background-color: rgba(169, 169, 169, 0.3);
}

.materials {
    grid-column-start: 1;
    grid-column-end: 5;
    padding-left: 22px;
    min-width: 135px;
    background-color: var(--special-yellow);
    background-image: url(../img/icon-materials.png);
    background-repeat: no-repeat;
    background-position: 85% 50%;
}

.tools {
    grid-column-start: 5;
    grid-column-end: 9;
    padding-left: 22px;
    min-width: 135px;
    background-color: var(--special-blue);
    background-image: url(../img/icon-tools.png);
    background-repeat: no-repeat;
    background-position: 85% 50%;
}

.technic {
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 1;
    padding-left: 22px;
    min-width: 135px;
    background-color: var(--special-lilac);
    background-image: url(../img/icon-technic.png);
    background-repeat: no-repeat;
    background-position: 85% 50%;
}

.sales {
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 2;
    padding-left: 22px;
    min-width: 135px;
    background-color: var(--special-greenlight);
    background-image: url(../img/icon-sales.png);
    background-repeat: no-repeat;
    background-position: 85% 50%;
}

.delivery {
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 3;
    padding-left: 22px;
    min-width: 135px;
    background-color: var(--special-background-orange);
    background-image: url(../img/icon-delivery.png);
    background-repeat: no-repeat;
    background-position: 85% 40%;
}

.slider {
    position: relative;
    min-height: 266px;
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 3;
}

.slider-list {
    padding-left: 0;
}

.slider-list-header {
    height: 104px;
    padding-left: 24px;
    padding-top: 23px;
    background: var(--special-slider-header);
}

.slider p {
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-white);
}

.slider-list-item {
    background-image: url(../img/slider-bg-perforator.jpg);
    background-repeat: no-repeat;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.slider-list-item h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    color: var(--basic-white);
    margin-bottom: 5px;
}

.slider-list-item .button {
    display: block;
    width: 192px;
    margin-top: 97px;
    margin-bottom: 27px;
    margin-left: 24px;
}

.icon-prew {
    width: 22px;
    height: 40px;
    background-image: url(../img/slider-icon-prew.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 25px;
    margin-top: -22px;
    cursor: pointer;
    z-index: 100;
}

.icon-next {
    width: 22px;
    height: 40px;
    background-image: url(../img/slider-icon-next.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    right: 21px;
    margin-top: -22px;
    cursor: pointer;
    z-index: 100;
}

.catalog-product {
    width: 940px;
    margin: 0 auto;
    padding-top: 21px;
}

.catalog-product h1 {
    height: 89px;
    padding-left: 29px;
    background-color: var(--special-background-grey);
}

.popular-product-line,
.popular-manufacturers-line {
    width: 940px;
    height: 89px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--special-background-popular);
    padding-left: 28px;
    padding-right: 14px;
    margin-bottom: 20px;
}

.popular-product-line h2,
.popular-manufacturers-line h2 {
    font-size: 30px;
    line-height: 30px;
    margin-right: auto;
    text-transform: uppercase;
    color: var(--basic-text);
}

.popular-product-line .button,
.popular-manufacturers-line .button {
    width: 220px;
}

.catalog-product h1 {
    display: flex;
    align-items: center;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-text);
}

.bread-crumb {
    display: flex;
    flex-direction: row;
}

.bread-crumb li {
    list-style-type: none;
    text-transform: uppercase;
    color: var(--basic-black);
    margin-right: 20px;
}

.bread-crumb li::after {
    content: "";
    color: #c1c6ce;
    background-image: url(/img/icon-right-small.svg);
    background-repeat: no-repeat;
}

.bread-crumb li:first-child {
    list-style-image: url(/img/icon-home.svg);
}

.filter-product legend {
    font-size: 17px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--basic-black);
}

.filter-container {
    width: 940px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px;
    gap: 20px;
}

.filter-field {
    grid-column-start: 1;
    grid-column-end: 4;
}

.sort-container {
    grid-column-start: 4;
    grid-column-end: 13;
}

.filter {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 220px;
    background-color: var(--special-background-beige);
    margin-bottom: 14px;
}

.sort {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 700px;
    margin: 0 auto;
    background-color: var(--special-background-beige);
}

.sort a {
    margin-right: 20px;
    padding: 0;
    font-size: 13px;
    line-height: 17px;
    text-transform: uppercase;
    border-bottom: 1px dotted red;
    color: var(--basic-black);
    opacity:0.3;
}

.sort a:hover {
    border-bottom: 1px solid red;
    color: var(--basic-black);
    opacity: 1;
}

.sort a:active {
    border-bottom: 0;
    color: var(--basic-red);
}

.sort .sort-active {
    color: var(--basic-red);
    border-bottom: none;
    opacity: 1;
}

.sort-icon a {
    color: var(--basic-greylight);
    border:0;
}

.sort-icon a:hover {
    color: var(--basic-black);
    border:0;
}

.sort-icon a:active {
    color: var(--basic-red);
    border:0;
}

.sort-title {
    text-transform: uppercase;
    font-weight: 400;
    color: var(--basic-black);
}

.cards-container {
    width: 700px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 28px;
}

.cards-product {
    width: 940px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-product {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 220px;
    min-height: 318px;
    border: 1px solid #EAEAEA;
    text-align: center;
    overflow: hidden;
}

.new-product::after {
    content: "NEW";
    font: 700 15px/28px Cuprum,Arial,sans-serif;
    display: block;
    position: absolute;
    width: 100px;
    height: 28px;
    text-align: center;
    color: #fff;
    background: #ee3643;
    transform: rotate(45deg);
    z-index: 5;
    top: 5px;
    right: -30px;
}

.card-product-img {
    height: 179px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card-product-text {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 21px;
    margin-top: 0;
    flex-grow: 1;
}

.card-product-text p:first-child {
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    padding: 0 30px;
    margin: 0;
}

.card-product-text .old-coast {
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    color: var(--special-old-coast);
    text-decoration: line-through;
}
.old-coast {
    margin-top: 7px;
    margin-bottom: 23px;
}

.card-product-text .actual-coast {
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    color: var(--basic-white);
    background-color: var(--basic-red);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    width: 120px;
    margin: 0 auto;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
}

.actual-coast::after {
    content: "";
    border: 19px solid #ee3643;
    width: 0;
    height: 0;
    position: absolute;
    top: 0px;
    right: -38px;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
}

.buttons-card {
    position: absolute;
    top: 38px;
    left: 41px;
    width: 135px;
    display: none;
}

.card-product:hover {
    box-shadow: 6px 3px 45px -21px rgba(0,0,0,0.75);
}

.card-product:hover .buttons-card {
    display:flex;
    flex-direction: column;
}

.card-product:hover .card-product-img {
    opacity: 0;
}

.button-bookmark {
    width: 135px;
    height: 38px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    border: 3px solid;
    border-color: var(--basic-green);
    box-sizing: border-box;
    border-radius: 2px;
    background-color: var(--basic-white);
    color: var(--basic-text);
}

.button-buy {
    display: block;
    padding-top: 10px;
    width: 135px;
    min-height: 38px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: var(--basic-white);
    background-color: var(--basic-green);
    box-shadow: inset 0px -3px 0px #367315;
    border-radius: 2px;
    margin: 0 auto 10px auto;
}       

.button-buy:hover {
    background-color: var(--special-success);
}

.button-buy:active {
    background-color: var(--special-background-darkgreen);
}

.button-bookmark:hover {
    border-color: var(--basic-text);
}

.button-bookmark:active {
    border-color: var(--basic-text);
    opacity: 0.3;
}

.popular-manufacturers-line {
    margin-top: 70px;
}

.manufacturers-list {
    width: 940px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.manufacturers-card {
    width: 220px;
    height: 145px;
    border: 1px solid #EAEAEA;;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.manufacturers-card:hover {
    box-shadow: 0px 0px 37px -16px rgba(0,0,0,0.75);
}

.manufacturers-card:active {
    opacity: 0.3;
}

.services {
    background-color: var(--basic-background);
}

.services-content {
    width: 940px;
    margin: 0 auto;
    padding-top: 64px;
}

.services-header {
    margin-bottom: 25px;
}

.services-paragraph {
    width: 394px;
    margin-bottom: 70px;
}

.services-delivery {
    width: 619px;
    height: 285px;
    background-image: url(../img/services-car-background.png);
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

.services-container-flex {
    display: flex;
    flex-direction: row;
}

.services-delivery h2 {
    margin-bottom: 30px;
}

.services-delivery p {
    width: 300px;
}

.services h2 {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 30px;
}

.services ul {
    list-style-type: none; 
}

.services-items-list {
    width: 240px;
    position: relative;
    padding-left: 0;
}

.services-items-list::after {
    position: absolute;
    content: "";
    display: block;
    background: url(../img/shadow-item-list.png);
    background-repeat:  no-repeat;
    width: 10px;
    height: 272px;
    z-index: 10;
    right: 0;
    top: 35%;
    margin-top: -141px;
}

.services-items-list li {
    font-size: 21px;
    line-height: 30px;
    width: 240px;
    height: 61px;
    background-color: var(--basic-text);
    box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;
    color: var(--basic-white);
    font-weight: 700;
    padding-left: 22px;
    padding-top: 13px;
}

.services-items-list li:hover {
    background-color: var(--basic-bluedark);
}

.services-items-list li.selected {
    color:var(--basic-text);
    background-color: var(--basic-white);
    box-shadow: 0px 1px 0px #FFFFFF;
}

.services-description h2 {
    color: var(--basic-text);
}

.about-us {
    width: 940px;
    margin: 70px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 70px;
}

.about-us h2 {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 24px;
}

.company-description {
    width: 448px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contacts {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contacts .button {
    width: 300px;
}

.about-us ul {
    padding-left: 0;
}

.company-description-item {
    padding-left: 37px;
    margin-bottom: 12px;
    font-size: 18px;
    line-height: 24px;
    list-style-type: none;
    background: url(/img/marker.svg) no-repeat left center;
}

.company-description-list li:last-child {
    margin-bottom: 20px;
}

.button {
    padding: 11px 0 9px 0;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #EE3643;
    border: 0px;
}

.button:active {
    background-color:#BA2732;
}

.company-description .button {
    width: 220px;
}

.map {
    margin-top: 32px;
    margin-bottom: 25px;
}

.pages-list {
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.pages li {
    list-style: none;
    margin-left: 10px;
    margin-bottom: 10px;
}

.pages li:first-child {
    margin-left: 0;
}

.pages-list-link {
    text-transform: uppercase;
    color: var(--basic-black);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    border: 1px solid #e5e5e5;
    width: 38px;
    height: 38px;
}

.pages-list-link:hover {
    border: 1px solid var(--basic-greylight);
}

.pages-list-link:active {
    border: 1px solid var(--basic-red);
}

.page-next {
    width: 140px;
    height: 38px;
    padding-right: 31px;
    padding-left: 32px;
}

.page-active {
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    width: 38px;
    height: 38px;
    color: var(--basic-white);
    background-color: var(--basic-red);
}

.article {
    background-color: var(--basic-background);
}

.article-content {
    padding-top: 64px;
    padding-bottom: 68px;
    width: 940px;
    margin: 0 auto;
}

.article-content h3 {
    margin-bottom: 25px;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
}

.article-content p {
    width: 820px;
    font-size: 13px;
    line-height: 24px;
}

/*Footer*/ 
.footer-container {
    background-color: var(--basic-text);
}

.footer-light {
    padding: 0 130px 54px 130px;
    margin: 0;

}

.footer-light-content {
    width: 940px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.footer-company-contacts {
    margin-right: auto;
}

.footer-light-content p, .footer-light-content a {
    font-size: 18px;
    line-height: 24px;
    color: var(--special-footer-text);
}

.footer-light-content li {
    list-style-type: none;
}

.logo-footer {
    display: block;
    margin-bottom: 22px;
}

.footer-nav {
    display: flex;
    flex-direction: column;
}

.footer-nav-list-first,
.footer-nav-list-second {
    display: flex;
    flex-direction: row;
    width: 549px;
    justify-content: space-between;
}

.footer-nav-list-first {
    margin-top: 37px;
    margin-bottom: 34px;
}

.footer-nav-list-second li:first-child {
    margin-left: 23px;
}

.footer-nav ul:first-child a{
    color: var(--special-footer-text);
}

.footer-nav ul:last-child a{
    color: var(--special-yellowlight);
}

.footer-nav-link:hover {
    text-decoration: underline;
}

.footer-nav-link:active {
    text-decoration: none;
    opacity: 0.5;
}

.footer-dark {
    background-color: var(--basic-bluedark);
    padding: 0 130px;
    margin: 0;
}

.footer-dark-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 940px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-white);
    padding-top: 35px;
    padding-bottom: 35px;
    padding-right: 13px;
}

.copyright {
    width: 227px;
}

.feedback {
    width: 137px;
}

.developer {
    width: 97px;
}

.social-network {
    display: flex;
    flex-direction: row;
}

.footer-dark-content li {
    list-style-type: none;
}

.feedback a,
.developer a {
    color: var(--special-yellowlight);
}

.footer-dark-content a:hover {
    text-decoration: underline;
}

.footer-dark-content a:active {
    text-decoration: none;
    color: var(--basic-red);
}

.social-link {
    color: var(--special-icon-socialnet);
}

.social-link:active, 
.social-link:hover {
    color: var(--basic-red);
}







